html {
    @apply scroll-smooth;
}

body {
    @apply bg-black;
}

#__nuxt {
    @apply flex flex-col h-screen;
}

.content-slot {
    @apply flex-grow;
}

header, main, footer {
    flex-shrink: 0;
}