@import "tailwindcss/base";
@import 'tailwindcss/components';


/* Global */
@import "global/webfonts.pcss";
@import "global/settings.pcss";
@import "global/global.pcss";
@import "global/typography.pcss";
@import "global/buttons.pcss";
@import "global/form.pcss";

/* Components */
@import "components/masthead.pcss";
@import "components/footer.pcss";

@import 'tailwindcss/utilities';

/* Pages */
@import "./pages/index.pcss";
@import "./pages/cookies.pcss";